* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'IBMPlexSans';
}

@font-face {
  font-family: 'Murmure';
  src: url('./fonts/Murmure.otf') format('opentype');
}

@font-face {
  font-family: 'Archiv';
  src: url('./fonts/Archiv.otf') format('opentype');
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('./fonts/IBMPlexMono.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./fonts/IBMPlexSans.ttf') format('truetype');
}
