* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Archiv';
}

@font-face {
  font-family: 'Murmure';
  src: url('./fonts/Murmure.otf') format('opentype');
}

@font-face {
  font-family: 'Archiv';
  src: url('./fonts/Archiv.otf') format('opentype');
}

@font-face {
  font-family: 'SpaceMono';
  src: url('./fonts/SpaceMono.ttf') format('truetype');
}
